{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                // true 的时候才会编译less
                "style": true
            }
        ]
    ]
}