@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: muli;
    src: url('../style/font/Muli.ttf');
}
body {
    font-family: muli, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
    background: #f7faff;
}